<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ cssSrc }}">
    {% include "head.njk" %}
    {% include "scripts.njk" %}
</head>
<body id="body">
    <main>{% block content %} {{ content | safe }} {% endblock %}</main>
</body>
<script content-type="text/javascript" src="{{ jsSrc }}"></script>
</html> 